<section class="diamond-edit">
    <h2>{{'Add'}} diamond</h2>
    <form [formGroup]="form" (ngSubmit)="onSaveDiamond()">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name">
        <ng-container *ngIf="form.controls['name'] as nameInput">
            <p class="errors" *ngIf="nameInput.touched &&  nameInput.invalid">
                <span *ngIf="nameInput.errors?.['required']">name is required!</span>
                <span *ngIf="nameInput.errors?.['startWithNumber']">Cant start name with number!</span>
                <span *ngIf="nameInput.errors?.['nameTaken']">Name already taken</span>
            </p>
        </ng-container>
        <label for="price">Price</label>
        <input type="number" formControlName="price" id="price">

        <label for="collection">Collection</label>
        <input type="text" formControlName="collection" id="collection">

        <img [src]="diamond?.imgUrl" alt="">

        <button>Save</button>
    </form>
</section>