<div class="main-container">
    <div class="teaser-img">
        <img src="../../../assets/images/63f31a26327ae9f729a8e16d_hero-05-p-1080.jpg" alt="">
    </div>
    <div class="content">
        <h1 class="main-title">The Best Diamonds For You</h1>
        <p class="sub-title">He moonlights difficult engrossed it, sportsmen interested has all difficulty gay assistance joy perceived
            end
            knowledge certainly day sweetness.</p>
        <div class="explore" routerLink="/diamonds">
            <h5>Explore Now</h5>
            <img src="https://assets.website-files.com/63ef1dc23ff8fd0a899d86bb/63ef28c67768f1cafcfc91fd_left-arrow.svg"
                loading="lazy" alt="" class="arrow">
        </div>
    </div>
</div>