<header class="main-header">
  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/diamonds" routerLinkActive="active">Shop</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/statistics" routerLinkActive="active">Statistics</a>
  </nav>

  <div class="logo">De Jula</div>

  <div class="actions">
    <img src="https://assets.website-files.com/63ef1dc23ff8fd0a899d86bb/63ef3b95f17174846d217226_search.svg" loading="lazy" alt="" class="search-icon" style="opacity: 1; display: block;">
    
    <a routerLink="/shopping-cart" routerLinkActive="active"> <img src="https://assets.website-files.com/63ef1dc23ff8fd0a899d86bb/63ef3b9593b6f47b772cd95f_cart.svg" loading="lazy" alt=""></a>
   
  </div>
</header>